.sub-video-item-image {
  max-width: 200px;
  max-height: 120px;
  overflow: hidden;
}

.sub-video-container {
	.slick-slide {
		background-color: #eee;
		min-height: 130px;
		padding: 1em;
		box-sizing: border-box;
		transition: background-color 250ms ease;
		&:hover {
			background-color: darken(#eee, 15%)
		}
	}
	.currentSlide{
		background: #6096B7;
		&:hover {
			background: lighten(#6096b7, 15%);
		}
	}
	.static-pages-title:hover {
		color: #000;
	}
}

